.spirits{background:url("../img/ecommerce-psdtemplate.png") no-repeat}

.box1{width: 30px;height: 30px;}
.box3{width: 59px;height: 50px;}
.box4{width: 70px;height: 60px;}


.phone{background-position:-955px 0;vertical-align: middle}
.help{background-position:-1103px 0;vertical-align: middle}
.flag1{background-position:-1224px 0;vertical-align: middle}
.flag2{background-position:-1255px 0;vertical-align: middle}
.twitter{background-position:-339px -1075px;vertical-align: middle}
.safe{background-position:-320px -1498px;vertical-align: middle}
.wish{background-position:-654px -1498px;vertical-align: middle}

